<!-- HTML rendered to show progress bar -->
{% with namespace = "/home" %}
    {% include "socketio.html" %}
{% endwith %}

<div class="row">
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            socket.on('progress_update', function(msg) {
                // console.log('Hello there again');
                //$('#log').html('<br>Received #' + msg.percentage);
                // console.log(msg);
                if (msg['update'] == 'progress') {
                    $("#task-progress .progress .progress-bar").width(msg['percentage'] + '%');
                    $("#task-progress .progress .progress-bar").html(msg['percentage'] + '%');
                }
            });
        });
    </script>
    <h3 style="text-align:center">{{ filename }}</h3>
        <div id='progress-container' class="col-sm-6">
            <!-- Code for progress bar here -->
            <!-- <div id="log">Was this here</div> -->
            <h5>Download Status</h5>
            <div id='task-progress' class="task-progress" >
                <div id='progress' class="progress">
                    <!-- {% set percentage = 0 %} -->
                    <div id='progress-bar' class="progress-bar" style="width:0%">
                        0%
                    </div>
                </div>
            </div>
        </div>
</div>
